* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F2F5;
}
.principal {
    height: 100%;
}

.segundo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.terceiro {
    margin: 15px;
    text-align: center;
    width: 400px;
    height: 460px;
}
.form {
    border: 1px solid rgba(0,0,0,0.3);
    background-color: white;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}
.descricao {
    font-size: 24px;
    font-family: Arial, Greek, sans-serif;
    width: 500px;
    height: 300px;
    text-align: left;
}

.usuario_senha {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

.botao {
    display: inline;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
.nova_conta {
    background-color: rgb(54, 164, 32);
    width: 50%;
    margin-bottom: 25px;
}
.entrar { 
    background-color: rgb(22, 111, 226);
    margin-bottom: 10px;
}
.entrada {
    margin: 10px;
    padding: 15px;
    border: none;
}

.logo {
    width: 65%;
    padding: 0px;
    margin: -28px;
}

.link_normal {
    color: black;
}
h2 {
    font-size: 24px;
    color: gray;
}

hr {
    margin: 20px;
    color: rgba(0,0,0,0.4)
}
a {
    text-decoration: none;
}

input {
    border: 1px solid rgba(0,0,0,0.3);
    font-size: 18px;
    padding: 10px;
    color: rgba(0,0,0,0.4)
}